.marginadjust { 
	margin: 1.5658rem 0;
 }

 .iconmarginadjust {
 	margin: 1.6rem 0;
 }

 .customtweet {
 	margin-bottom: 0!important;
 }

 .fontsize1 {
 	font-size: 18px;
 }

 .filters {
 	text-align: center;
 	padding-top: 4.5em;
 	padding-bottom: 3.5em;
 }

 .selectcorrection{
 	text-align: center!important;
 	padding: 0!important;
 	border: transparent!important;
 	background: transparent!important;
 	height: auto!important;
 }

.filters .btn{
 	width: 12em!important;
 	pointer-events: : none!important;
 }

.filters .dropdown__content {
	pointer-events: none!important;
}

.formclass{
	padding: 0 16vw;
}

.featureiconfix{
	padding-right: 1em;
	max-width: 100%;
}

@media(max-width: 768px) {
	.fix1 {margin-bottom: 10px; }
	.filters .btn { width: 10em!important; }
	.formclass { padding: 0 4vw; }
	.process-stepper { font-size: 15px }
	.menu-horizontal { text-align: center;font-size: 16px; }
	.section { margin-left: 20px;margin-right: 20px }
	#maintitleh1{line-height: 9vh; margin-top: -0.5vh!important;}
	.headerbutton{margin-top: 3vh; width:45vw;}
	.mainheader{margin:3vh 0!important; padding: 2vh 3vh!important;}
}

.no-padding {
   padding: 0 !important;
}

.no-margin-sides {
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.margin-b-15 {
	margin-bottom: 15px;
}

.algin-bottom-right {
    position: absolute;
    bottom: -1px;
    right: 0px;
    max-width: 100%;
    z-index: 3;
}

.bar-1 .menu-horizontal > li > a {
    font-size: 1em;
    font-weight: bold;
}

.main-page-faq {
	font-size: 1.15em;
}

@media(min-width: 768px) {
	.who-are-we-right {
		padding-left: 50px !important;
	}	
}

@media(max-width: 767px) {
	.who-are-we-right {
		margin-bottom: 35px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.slider[data-paging="true"]:not(section) {
    margin-bottom: 2.714286em!important;
	}
}
.headerbutton{width:200px;}
.slider[data-paging="true"]:not(section) .flickity-page-dots {
    bottom: -1.5em;
}

.slider[data-paging="true"]:not(section) {
    margin-bottom: 0.714286em;
} 

.who-are-we-right h3 {
	border-bottom: 1px solid white;
    padding-bottom: 13px;
    width: 200px;
}

#maintitleh2{
	margin-bottom: 0px; 
	font-size: 5.5vh;
	font-weight: 700;
}

#maintitleh1{
	font-size: 8vh; 
	margin-top: -2.5vh;
	margin-bottom: 1vh;
	font-weight: 700;
}

#maintitlep1{
	margin-bottom: 0px;
	margin-top: 2.8vh;
}

#maintitlep{
	font-weight: 900;
}

.divbar{
	border: 0.75px solid white;
}

.mainheader{
	padding: 17vh 2vw;
}

@media(min-width: 768px) {
	#headerbuttontext{
		font-size: 1.1em!important;
		font-weight: 900!important;
	}
}

.blur{
	filter:blur(5px);
}
#semiboldid{
	font-weight: 600!important;
}
#boldid{
	font-weight: 900!important;
}
.ticketcolor{
	background-color: rgba(229,166,137,0.20)!important;

}

.simple-box-effect {
	background-color: #f7f7f7;	
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0px 0px 71px -17px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 71px -17px rgba(194,194,194,1);
	box-shadow: 0px 0px 71px -17px rgba(194,194,194,1);
	margin-bottom: 50px;
}

@media(min-width: 768px) {
	.simple-box-effect {
		padding: 30px;
	}
}


@media(max-width: 768px){
	.who-are-we-mobile{
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.who-are-we-right{
		margin-top: 9px!important;
	}
	.who-are-we-right h3{
		font-weight: 400!important;
		font-size: 24px!important;
	}
}


#maintitleh2lt{
	margin-bottom: 0px; 
	font-size: 5.5vh;
	font-weight: 700;
}

#maintitleh1lt{
	font-size: 8vh; 
	margin-top: -2.5vh;
	margin-bottom: 1vh;
	font-weight: 700;
}

#maintitlep1lt{
	margin-bottom: 0px;
	margin-top: 2.8vh;
}

#maintitleplt{
	font-weight: 900;
}


@media(max-width: 768px){
	#maintitleh2lt{
		margin-bottom: 0px; 
		font-size: 3.5vh;
		font-weight: 700;
		line-height: 42px;
	}

	#maintitleh1lt{
		font-size: 5.5vh; 
		margin-top: -2.5vh;
		margin-bottom: 1vh;
		font-weight: 700;
	}

	#maintitlep1lt{
		margin-bottom: 6px;
		margin-top: 2vh;
		font-size: 16px;
	}

	#maintitleplt{
		font-weight: 900;
		font-size: 16px;
	}
	.mainheaderlt{
	padding: 0 4vw;
	}
	.divbar{
	border: 0.25px solid white;
	}
} 

.buy3adjust{
	margin-bottom: 7vh;
}
@media(max-width: 768px){
	.buy3adjust h2{
		font-size: 2em;
		font-weight: 400;
		margin-bottom: 2vh;
	}
	.buy3adjust p{
		font-size: 13px;
	}
}

.inp-fixed-bank-info {
	text-align: center;
}
.margin-b-38{
	margin-bottom:38px!important;
}

.inp-bank-info-income {
	font-weight: bold;
}
.radiomargin{
	margin-top: 30px!important;
}

.container-vertical-align-center{
	display: flex!important;
	align-items: center!important;
}

/* CSS classes of boxes for selling tickets */
.sell-ticket-box span{
	background: linear-gradient(to right, rgba(9,132,240,1) 37%, rgba(10,132,239,1) 38%, rgba(49,115,185,1) 85%, rgba(50,115,184,1) 86%);
	display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
    text-transform: uppercase;
    height: 26px;
    min-width: 65px;
    padding: 0 10px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    top: 1.2em;
    right: 1.9em;
}
.boxes-padding-adjust{
	padding: 20px!important;
	margin-bottom: 30px!important;
	margin-left: 0px;
	margin-right: 0px;
}

.sell-ticket-box img{
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 0px;
}

.sell-ticket-box .info-part {
	border: 1px solid #9C9C9C;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}

/* END OF CSS classes of boxes for selling tickets */